.drink-container{
  display: flex;
  justify-content:center;
}

.drink-inner{
  margin: 0 auto;
  min-width:600px;
  margin-left:50px;
  margin-right: 50px;
  margin-bottom: 20px;
  display:flex;

  align-items: center;
}
.drink-info-left{
  color:rgb(0, 0, 0);
  width: 400px;
}

.drink-info-name{
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.drink-info-name:hover{
  color: royalblue;
}

.drink-info-brewery{
  margin: 20px;
}

.drink-info-variety{
  margin: 20px;
}

.drink-image-container{
  margin: 10px;
  width:80px;
  height:160px;

}

.drink-image{
  max-width: 100%;
  max-height: 100%;
}

.drink-image-container{
  width:100px;
  height:180px;
}
