.search-results-container{
  display: flex;
  justify-content:center;
}

.search-results-inner{
  margin: 0 auto;
  width:600px;
  margin:50px;
  background-color: greenyellow;
  display:flex;
  flex-direction: column;
}
